    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

    body {
        background: #d67f7f; /* dark coffee background */
        color: #fff;
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 40px;
        background-color: #b95757;
    }

    header .logo {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
    }

    header .logo img {
        width: 40px;
        margin-right: 10px;
    }

    header ul {
        list-style: none;
        display: flex;
        gap: 40px;
        font-weight: bold;
    }

    header ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
    }

    header ul li a:hover {
        color: #f7b731;
    }

    .main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 80px;
    }

    .main-text {
        max-width: 500px;
    }

    .main-text h4 {
        color: #f7b731;
        font-size: 50px;
        margin-bottom: 10px;
        font-style: italic;
    }

    .main-text h1 {
        font-size: 38px;
        margin-bottom: 15px;
        line-height: 1.3;
    }

    .main-text p {
        margin-bottom: 25px;
        color: #ddd;
        font-size: 20px;
    }

    .buttons {
        display: flex;
        gap: 20px;
    }

    .btn-primary {
        background: #f7b731;
        padding: 12px 25px;
        border: none;
        border-radius: 25px;
        font-weight: bold;
        cursor: pointer;
        color: #000;
    }

    .btn-secondary {
        background: transparent;
        border: 2px solid #fff;
        padding: 12px 25px;
        border-radius: 25px;
        cursor: pointer;
        color: #fff;
    }

    .main img {
        width: 350px;
    }

    /* about */
    nav {
      margin-left: auto;
    }
    nav a {
      color: #fff;
      text-decoration: none;
      margin: 0 18px;
      font-size: 1em;
      transition: color 0.2s;
    }
    nav a:hover {
      color: hsl(298, 78%, 73%);
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 60px 0 0 0;
    }
    .profile-img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      overflow: hidden;
      background:palevioletred;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 60px;

    }
    .profile-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .about-section {
      max-width: 520px;
    }
    .about-section h2 {
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 10px;
      letter-spacing: 1px;
    }
    .about-section h2 {
      position: relative;
    }
    .about-section h2::after {
      content: '';
      display: block;
      width: 60px;
      height: 3px;
      background: pink;
      margin: 10px 0 0 0;
    }
    .about-section p {
      font-size: 1.08em;
      color: #444;
      margin: 24px 0 32px 0;
      line-height: 1.6;
    }
    .social-icons {
      display: flex;
      gap: 32px;
      align-items: center;
    }
    .social-icons a {
      color: #4b2323;
      font-size: 1.7em;
      transition: color 0.2s;
    }
    .social-icons a:hover {
      color: hsl(280, 23%, 97%);
    }
    .social-icons .fa {
      cursor: pointer;
    }

/* menu */
    .menu{
      margin-top: 80px;
    }

    .menu h2 {
      display: flex;
      justify-content: center;
      font-size: 34px;
      font-weight: bold;
      margin-bottom: 40px;
    }
    
    .container-menu {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      justify-content: space-between;
      gap: 40px;
      max-width: 1000px;
      margin: auto;
    }

    .card {
      border: 1px solid #eee;
      border-radius: 8px;
      text-align: center;
      padding: 24px 0 12px 0;
      font-size: 1em;
      margin-top: 60px;
    } 
    /* menu

      padding: 15px;
      background: #fff;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    } */


    .card img {
      width: 100%;
      border-radius: 6px;
    }

    .card h3 {
      margin: 10px 0 5px;
      font-size: 18px;
      color: #333;
    }

    .price {
      font-size: 16px;
      font-weight: bold;
      color: #e91e63;
      margin-bottom: 10px;
    }

    .btn {
      display: inline-block;
      background: #e91e63;
      color: #fff;
      padding: 10px 15px;
      border-radius: 6px;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
    }

    .btn:hover {
      background: #d81b60;
    }
